$dark: #131921;
$darkHover: #5a5e63;
$white: #fff;
$whiteSmoke: rgba(255, 255, 255, 0.9);
$smokeBezh: #e4e8ed;
$smokeLight: #ddd;
$smoke: #ccc;
$smokeDark: #848688;
$smokeNeo: #999;
$orange: #f08804;
$orangeL: #febd69;
$orangeAds: #ffd814;
$orangeAdsHover: #ffcc14;
$orangeRed: #c7511f;
$red: #cc0c39;
$neoGrayLight: #37475a;
$neoGray: #232f3e;
$neoGrayDark: #131a22;
$blueLight: #007185;

/* hover color */
$neoGrayLightHover: #49586e;

/* Btn shadow */
$btnShadow: rgba(0, 0, 0, 0.3);
