$dark: #131921;
$darkHover: #5a5e63;
$white: #fff;
$whiteSmoke: rgba(255,255,255,.9);
$smokeLight: #ddd;
$smoke: #ccc;
$smokeDark: #848688;
$smokeNeo: #999;
$orange: #f08804;
$orangeL: #febd69;
$neoGrayLight: #37475a;
$neoGray: #232f3e;
$neoGrayDark: #131a22;

/* hover color */
$neoGrayLightHover: #49586e;
