@import "./colors";

.discountInfo {
  .dealInfo {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    :nth-child(1) {
      padding: 0.3rem 0.5rem;
      background-color: $red;
      color: $white;
    }

    :nth-child(2) {
      color: $red;
      font-weight: bold;
    }
  }
}
