@import "./colors";

.dropdown {
  position: relative;

  div:nth-child(1) {
    > button {
      width: 100%;
      background-color: transparent;
      color: $white;
      border: none;
      font-size: 16px;
      padding: 1rem;
      display: flex;
      align-items: center;

      > span {
        &:nth-child(2) {
          display: flex;
          margin-left: 10px;
          transition: 0.3s;

          &.active {
            transform: rotate(180deg);
          }
        }
      }

      &:hover {
        background-color: $darkHover;
      }
    }
  }

  div:nth-child(2) {
    overflow: hidden;
    ul {
      margin-top: -100%;
      list-style: none;
      transition: 0.3s;
      li {
        a {
          width: 100%;
          font-size: 14px;
          display: inline-block;
          color: $white;
          padding: 1rem;
          padding-left: 2rem;
          text-decoration: none;

          &:hover {
            background-color: $orangeL;
            color: $dark;
          }
        }
      }

      &.active {
        margin-top: 0;
      }
    }
  }

  &:hover {
    background-color: none;
  }
}
